<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <img src="../../../assets/ecommerce.jpg" style="width: 50px; height: auto" alt="">
    <a class="ms-1 navbar-brand">E-Commerce App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/product" aria-current="page">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex">
        <li class="nav-item">
          <a class="nav-link active" routerLink="" aria-current="page"><i class="fa fa-lg fa-cart-plus"
                                                                          aria-hidden="true"></i><span
            class="position-absolute top-10 start-20 translate-middle badge rounded-pill bg-danger">{{cartCount | async}}</span></a>
        </li>
      </ul>

      <div *ngIf="isLoggedIn | async; else signInBlock">
        <ul class="navbar-nav d-flex">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{userName | async}}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#"><i class="fa fa-user-circle-o fa-lg" aria-hidden="true"></i>
                Profile</a></li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-cogs" aria-hidden="true"></i> Setting</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" routerLink="/logout" (click)="logout();"><i class="fa fa-sign-out fa-lg"
                                                                                       aria-hidden="true"></i>
                Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <ng-template #signInBlock>
        <ul class="navbar-nav d-flex">
          <li class="nav-item">
            <a class="nav-link active" routerLink="/login">Sign In</a>
          </li>
        </ul>
      </ng-template>
    </div>
  </div>
</nav>
