<!-- breadcrumb.component.html -->
<div class="mt-2">
  <h4>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item" *ngFor="let item of breadcrumbItems; let last = last"
            [ngClass]="{ 'active': last }">
          <ng-container *ngIf="!last; else activeBreadcrumb">
            <a [routerLink]="['/' + item.toLowerCase()]">{{ item }}</a>
          </ng-container>
          <ng-template #activeBreadcrumb>{{ item }}</ng-template>
        </li>
      </ol>
    </nav>
  </h4>
</div>
