img {
  max-width: 60%;
  max-height: 60%;
  display: block;
  margin: 40px auto auto;
}

img:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}
