<h2 class="text-center">Product Catalog</h2>
<div class="row">
  <div class="col-md-2 mt-2 ps-5">
    <button mat-raised-button [matMenuTriggerFor]="menu" color="primary"><i class="fa fa-sort" aria-hidden="true"></i>
      Sort By
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="sort('name')">Name <i class="bi bi-sort-alpha-down"></i></button>
      <button mat-menu-item (click)="sort('priceLowToHigh')">Price(Low to High) <i class="bi bi-sort-numeric-down"></i>
      </button>
      <button mat-menu-item (click)="sort('priceHighToLow')">Price(High to Low) <i
        class="bi bi-sort-numeric-down-alt"></i></button>
    </mat-menu>
  </div>
  <div class="col-md-2 mt-2">
    <select class="form-select" aria-label="Default select example" #categorySelector
            (change)="getCategoryProductsOnChange($event, matPaginator)">
      <option selected value="">All Categories</option>
      <option *ngFor="let category of categories" [value]="category.categoryId">
        {{ category.categoryName }}
      </option>
    </select>
  </div>
  <div class="col-md-3 mt-2 ps-5">
    <div class="input-group">
      <input type="text" class="form-control glow-disable" placeholder="Search by name"
             (keyup)="findByProductsName($event, matPaginator)">
      <span class="input-group-text bg-transparent text-primary">
                  <i class="bi bi-search"></i>
                </span>
    </div>
  </div>
  <div class="col-md-5">
    <mat-paginator [length]="totalPages"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[1, 5, 10, 12, 20, 40, 80]"
                   (page)="getAllProductsPagination($event.pageIndex, $event.pageSize)"
                   aria-label="Select page" #matPaginator>
    </mat-paginator>
  </div>
</div>
<hr>
<div class="d-flex justify-content-center" *ngIf="isLoading && products.length === 0">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<div class="container" *ngIf="!isLoading || products.length > 0">
  <div class="row">
    <ng-container *ngIf="products && products.length > 0; else productNotFound">
      <div class="col-md-3 mb-2" *ngFor="let product of products">
        <div class="card shadow-lg"> <!--     style="box-shadow: 3px 3px 10px #b9b9b9;"-->
          <div style="height: 200px; border: 1px solid lightgrey">
            <img [src]="product.productImages[0].imageUrl" class="card-img-top card-img-fit" alt="">
          </div>
          <div class="card-body">
            <div style="height: 60px; /* Set a fixed height for the scrollable area */
            overflow-y: auto;">
              <h3 class="card-title">{{product.productName}}</h3>
            </div>
            <p class="card-text">{{product.productPrice | currency: 'INR'}}</p>
            <button class="btn btn-sm btn-primary me-2" [routerLink]="['/dashboard/product/',product.productId]">View
              Details
            </button>
            <a (click)="addToCart(product.productId);" class="btn btn-sm btn-danger">Add
              to Cart</a>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #productNotFound>
      <h2 class="text-center text-danger">{{productNotFoundMessage}}</h2>
    </ng-template>
    <ng-container *ngIf="errorMessage">
      <h2 class="text-center text-danger">{{ errorMessage }}</h2>
    </ng-container>
  </div>
</div>
